In [1]:
import numpy as np
import pandas as pd
from datetime import date, datetime

In [2]:
# local connection information
import local_db
connection = local_db.connection()

In [3]:
sections_begin_year = '2011'

In [4]:
sql_str = "SELECT * FROM SECTIONS WHERE " + \
          "EVENT_SUB_TYPE NOT IN ('ADV') " + \
          f"AND ACADEMIC_YEAR >= '{sections_begin_year}' " + \
          "AND ACADEMIC_TERM IN ('FALL', 'SPRING', 'SUMMER') " + \
          "AND ACADEMIC_SESSION IN ('MAIN', 'CULN', 'EXT', 'FNRR', 'HEOP'," + \
          " 'SLAB', 'BLOCK A', 'BLOCK AB', 'BLOCK B') "
df_sections = pd.read_sql_query(sql_str, connection)

In [5]:
print(df_sections.shape)

(5063, 111)

In [ ]:
# load transfer courses (ACADEMIC_YEAR=1999, ACADEMIC_TERM='TR' and append
sql_str = "SELECT * FROM SECTIONS WHERE " + \
          "EVENT_SUB_TYPE NOT IN ('ADV') " + \
          f"AND ACADEMIC_YEAR >= '1999' " + \
          "AND ACADEMIC_TERM IN ('FALL', 'SPRING', 'SUMMER') " + \
          "AND ACADEMIC_SESSION IN ('MAIN', 'CULN', 'EXT', 'FNRR', 'HEOP'," + \
          " 'SLAB', 'BLOCK A', 'BLOCK AB', 'BLOCK B') "
df_transfer = pd.read_sql_query(sql_str, connection)

In [ ]:
df = df_sections[['EVENT_ID', 'EVENT_SUB_TYPE', 'EVENT_MED_NAME',
                  'SECTION', 'CREDITS', 'MAX_PARTICIPANT',
                  'ACADEMIC_YEAR', 'ACADEMIC_TERM', 'ACADEMIC_SESSION',
                  'START_DATE', 'END_DATE', 'CIP_CODE',
                  'REVISION_DATE', 'REVISION_TIME',
                  ]]