In [1]:
import numpy as np
import pandas as pd
import os
from datetime import date, datetime
from sqlalchemy import create_engine

In [2]:
# local connection information
db_user = os.environ.get('DB_USER')
db_pass = os.environ.get('DB_PASS')
engine = create_engine(f'mssql+pyodbc://{db_user}:{db_pass}@PSC-SQLProd/Campus6?' +
                       'driver=ODBC+Driver+11+for+SQL+Server')
connection = engine.connect()

In [3]:
sections_begin_year = '2011'

In [4]:
sql_str = "SELECT * FROM EVENT WHERE " + \
          "EVENT_STATUS = 'A' " + \
          "AND EVENT_TYPE = 'CLAS' "
df_event = pd.read_sql_query(sql_str, connection)

In [5]:
dfe = df_event[['EVENT_ID', 'EVENT_LONG_NAME', 'DESCRIPTION', ]]

In [ ]:
#dfe.loc[(df['EVENT_ID'].str[-2:] == '99'),'EVENT_LONG_NAME']

In [6]:
dfe = dfe.rename(columns={'EVENT_LONG_NAME': 'course_name', 'EVENT_ID': 'course_id', 'DESCRIPTION': 'description' })

In [7]:
#dfe.loc[dfe['course_id']=='MAT102'].head()
print(dfe.shape)

(526, 3)

In [8]:
sql_str = "SELECT * FROM SECTIONS WHERE " + \
          "EVENT_SUB_TYPE NOT IN ('ADV', 'SI', 'LAB') " + \
          f"AND ACADEMIC_YEAR >= '{sections_begin_year}' " + \
          "AND ACADEMIC_TERM NOT IN ('Fa', 'SP') "
df_sections = pd.read_sql_query(sql_str, connection)

In [ ]:
print(df_sections.columns)

In [9]:
dfs = df_sections[['EVENT_ID', 'EVENT_SUB_TYPE', 'SECTION', 'ACADEMIC_YEAR',
                   'ACADEMIC_TERM', 'ACADEMIC_SESSION', 'CIP_CODE', 'CREDITS',
                   'REVISION_DATE', 'REVISION_TIME',
                   ]]

In [10]:
dfs.info()
print(dfs.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4043 entries, 0 to 4042
Data columns (total 10 columns):
EVENT_ID            4043 non-null object
EVENT_SUB_TYPE      4043 non-null object
SECTION             4043 non-null object
ACADEMIC_YEAR       4043 non-null object
ACADEMIC_TERM       4043 non-null object
ACADEMIC_SESSION    4043 non-null object
CIP_CODE            2337 non-null object
CREDITS             4043 non-null float64
REVISION_DATE       4043 non-null datetime64[ns]
REVISION_TIME       4043 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(7)
memory usage: 315.9+ KB
(4043, 10)

In [11]:
# dfs = dfs[~(dfs['EVENT_ID'].str.contains('REG', case=False))]
print(dfs.shape)
dfs.head()

(4043, 10)

,EVENT_ID,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,CIP_CODE,CREDITS,REVISION_DATE,REVISION_TIME
0,ACC 101,LEC,01,2011,FALL,MAIN,,3.0,2013-08-19,1900-01-01 12:26:41.477
1,ACC 101,LEC,02,2011,FALL,MAIN,,3.0,2012-05-07,1900-01-01 13:59:40.743
2,ACC 101,LEC,03,2011,FALL,MAIN,None,3.0,2011-12-16,1900-01-01 17:22:31.393
3,ACC 201,LEC,01,2011,FALL,MAIN,None,3.0,2011-09-28,1900-01-01 13:25:25.420
4,ACC 301,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237

In [12]:
dfs = dfs.sort_values(['EVENT_ID', 'EVENT_SUB_TYPE', 'ACADEMIC_YEAR',
                       'ACADEMIC_TERM', 'SECTION', 'CREDITS'],
                       ascending=[True, True, True, False, True, True])
dfs = dfs.drop_duplicates(['EVENT_ID', 'ACADEMIC_YEAR', 'ACADEMIC_TERM'],
                           keep='first')
dfs = dfs.sort_values(['EVENT_ID', 'EVENT_SUB_TYPE', 'ACADEMIC_YEAR',
                       'ACADEMIC_TERM', 'SECTION', 'CREDITS'],
                       ascending=[True, True, True, False, True, True])
dfs = dfs.drop_duplicates(['EVENT_ID', 'CREDITS'],
                           keep='first')

In [13]:
print(dfs.shape)
dfs.head()

(519, 10)

,EVENT_ID,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,CIP_CODE,CREDITS,REVISION_DATE,REVISION_TIME
282,ACC 101,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223
284,ACC 102,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083
3,ACC 201,LEC,01,2011,FALL,MAIN,None,3.0,2011-09-28,1900-01-01 13:25:25.420
4,ACC 301,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237
285,BAK 150,COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150

In [ ]:
# dfs[['EVENT_ID', 'EVENT_SUB_TYPE', 'CREDITS', 'SECTION']].groupby(['EVENT_ID', 'EVENT_SUB_TYPE', 'CREDITS']).count()

In [16]:
dfs = dfs.rename(columns={'EVENT_ID': 'course_id',
                          'CREDITS': 'default_credit_hours',
                          'CIP_CODE': 'course_cip_code'})

In [17]:
print(dfe.shape)
print(dfs.shape)

(526, 3)
(519, 10)

In [100]:
df = pd.merge(dfe, dfs, on=['course_id'], how='left' )
print(df.shape)

(558, 12)

In [101]:
df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME
0,ACC 101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223
1,ACC 102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083
2,ACC 301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237
3,BAK 150,Foundations of Baking,"In this laboratory course, the student will be...",COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150
4,BAK 160,Foundations of Baking & Pastry Arts,In this laboratory course the student will be ...,COMB,01,2011,FALL,MAIN,,4.0,2011-12-02,1900-01-01 13:13:00.227

In [102]:
df = df[~(df['course_id'].str.contains('REG', case=False))]
df = df[~(df['course_id'].str.contains('STDY', case=False))]

In [103]:
df.loc[:, 'course_id'] = df.loc[:, 'course_id'].str.replace(' ', '')
df.loc[:, 'status'] = 'ACTIVE'
df.loc[:, 'Level'] = '0' + df.loc[:, 'course_id'].str[-3:-2]

df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,status,Level
0,ACC101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223,ACTIVE,01
1,ACC102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083,ACTIVE,01
2,ACC301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237,ACTIVE,03
3,BAK150,Foundations of Baking,"In this laboratory course, the student will be...",COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150,ACTIVE,01
4,BAK160,Foundations of Baking & Pastry Arts,In this laboratory course the student will be ...,COMB,01,2011,FALL,MAIN,,4.0,2011-12-02,1900-01-01 13:13:00.227,ACTIVE,01

In [104]:
print(df.shape)

(537, 14)

In [105]:
df.loc[df['course_id']=='FWS395'].head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,status,Level
144,FWS395,Fisheries & Wildlife Sciences Externship,The student obtains fisheries or wildlife rese...,EXT,01,2011,FALL,MAIN,None,1.0,2011-12-17,1900-01-01 14:12:35.100,ACTIVE,03
145,FWS395,Fisheries & Wildlife Sciences Externship,The student obtains fisheries or wildlife rese...,EXT,01,2012,SPRING,MAIN,None,3.0,2012-05-07,1900-01-01 08:10:04.713,ACTIVE,03
146,FWS395,Fisheries & Wildlife Sciences Externship,The student obtains fisheries or wildlife rese...,EXT,01,2014,SPRING,MAIN,None,4.0,2014-05-09,1900-01-01 17:23:46.527,ACTIVE,03

In [106]:
df.loc[:, 'description'] = (df.loc[:, 'description'].str.replace('\n', ' ')
                                                    .str.replace('\r', ' ')
                                                    .str.replace('\"\"', "\'")
                                                    .str.replace('\"', "\'")
                            )

In [107]:
df['ACADEMIC_YEAR'] = (pd.to_numeric(df['ACADEMIC_YEAR'], errors='coerce')
                         .fillna(sections_begin_year).astype(np.int64))

In [108]:
cat_yr = (lambda c: c['ACADEMIC_YEAR'] if (c['ACADEMIC_TERM'] == 'FALL')
          else (c['ACADEMIC_YEAR'] - 1))
df.loc[:, 'catalog_year'] = df.apply(cat_yr, axis=1)

In [109]:
df.loc[:, 'integration_id'] = (df.loc[:, 'course_id'] + '.' +
                               df.loc[:, 'catalog_year'].apply(str))

In [110]:
df.loc[:, 'default_credit_hours'] = df.loc[:, 'default_credit_hours'].fillna(3)

In [111]:
df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,status,Level,catalog_year,integration_id
0,ACC101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223,ACTIVE,01,2010,ACC101.2010
1,ACC102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083,ACTIVE,01,2010,ACC102.2010
2,ACC301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237,ACTIVE,03,2011,ACC301.2011
3,BAK150,Foundations of Baking,"In this laboratory course, the student will be...",COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150,ACTIVE,01,2010,BAK150.2010
4,BAK160,Foundations of Baking & Pastry Arts,In this laboratory course the student will be ...,COMB,01,2011,FALL,MAIN,,4.0,2011-12-02,1900-01-01 13:13:00.227,ACTIVE,01,2011,BAK160.2011

In [112]:
df.loc[df['course_id']=='FWS395'].head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,status,Level,catalog_year,integration_id
144,FWS395,Fisheries & Wildlife Sciences Externship,The student obtains fisheries or wildlife rese...,EXT,01,2011,FALL,MAIN,None,1.0,2011-12-17,1900-01-01 14:12:35.100,ACTIVE,03,2011,FWS395.2011
145,FWS395,Fisheries & Wildlife Sciences Externship,The student obtains fisheries or wildlife rese...,EXT,01,2012,SPRING,MAIN,None,3.0,2012-05-07,1900-01-01 08:10:04.713,ACTIVE,03,2011,FWS395.2011
146,FWS395,Fisheries & Wildlife Sciences Externship,The student obtains fisheries or wildlife rese...,EXT,01,2014,SPRING,MAIN,None,4.0,2014-05-09,1900-01-01 17:23:46.527,ACTIVE,03,2013,FWS395.2013

In [113]:
print(df.shape)

(537, 16)

In [ ]:
df = df.loc[(df['REVISION_DATE'].notna() & df['REVISION_TIME'].notna()),['integration_id','course_id', 'course_name', 'course_cip_code', 'default_credit_hours', 
                                           'Level', 'description', 'status', 'catalog_year', 'REVISION_DATE', 'REVISION_TIME',]]
df.head()

In [114]:
df = (df.sort_values(['integration_id', 'default_credit_hours'],
                     ascending=[True, False])
        .drop_duplicates(['integration_id'], keep='first')
     )

In [115]:
print(df.shape)

(535, 16)

In [ ]:
def revision(df):
    return pd.datetime.combine(df['REVISION_DATE'].date(), df['REVISION_TIME'].time())
df['revision'] = df.apply(revision, axis=1)

In [116]:
df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,status,Level,catalog_year,integration_id
0,ACC101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223,ACTIVE,01,2010,ACC101.2010
1,ACC102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083,ACTIVE,01,2010,ACC102.2010
2,ACC301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237,ACTIVE,03,2011,ACC301.2011
318,AR100,Analytical Reasoning Foundational,None,NaN,NaN,2011,NaN,NaN,NaN,3.0,NaT,NaT,ACTIVE,01,2010,AR100.2010
319,AR101,Analytical Reasoning Reinforcing,None,NaN,NaN,2011,NaN,NaN,NaN,3.0,NaT,NaT,ACTIVE,01,2010,AR101.2010

In [117]:
df.loc[df['course_id']=='FWS395'].head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,status,Level,catalog_year,integration_id
145,FWS395,Fisheries & Wildlife Sciences Externship,The student obtains fisheries or wildlife rese...,EXT,01,2012,SPRING,MAIN,None,3.0,2012-05-07,1900-01-01 08:10:04.713,ACTIVE,03,2011,FWS395.2011
146,FWS395,Fisheries & Wildlife Sciences Externship,The student obtains fisheries or wildlife rese...,EXT,01,2014,SPRING,MAIN,None,4.0,2014-05-09,1900-01-01 17:23:46.527,ACTIVE,03,2013,FWS395.2013

In [118]:
print(df.shape)

(535, 16)

In [ ]:
df.columns

In [119]:
df = df.sort_values(['integration_id'])
#df.drop_duplicates(['integration_id'], keep='last', inplace=True)

In [120]:
max_cat_yr = df.groupby(['course_id'])['catalog_year'].max()
print(type(max_cat_yr))
print(max_cat_yr.shape)
print(max_cat_yr.head())

<class 'pandas.core.series.Series'>
(511,)
course_id
ACC101    2010
ACC102    2010
ACC301    2011
AR100     2010
AR101     2010
Name: catalog_year, dtype: int64

In [ ]:
pd.DataFrame(mry)

In [121]:
max_cat_yr = df.groupby(['course_id'])['catalog_year'].max().reset_index()
max_cat_yr = max_cat_yr.rename(columns={'catalog_year': 'max_cat_yr'})

df = pd.merge(df, pd.DataFrame(max_cat_yr), on=['course_id'], how='left')
print(df.shape)
print(df.head())

(535, 17)
  course_id                        course_name  \
0    ACC101               Financial Accounting
1    ACC102              Managerial Accounting
2    ACC301          Small Business Accounting
3     AR100  Analytical Reasoning Foundational
4     AR101   Analytical Reasoning Reinforcing

                                         description EVENT_SUB_TYPE SECTION  \
0  Students utilize the rules of debits/credits i...            LEC      01
1  Study of the principles of financial accountin...            LEC      01
2  This course will familiarize students with acc...            LEC      01
3                                               None            NaN     NaN
4                                               None            NaN     NaN

   ACADEMIC_YEAR ACADEMIC_TERM ACADEMIC_SESSION course_cip_code  \
0           2011        SPRING             MAIN
1           2011        SPRING             MAIN
2           2011          FALL             MAIN            None
3           2011           NaN              NaN             NaN
4           2011           NaN              NaN             NaN

   default_credit_hours REVISION_DATE           REVISION_TIME  status Level  \
0                   3.0    2011-06-21 1900-01-01 16:19:39.223  ACTIVE    01
1                   3.0    2013-01-14 1900-01-01 14:13:36.083  ACTIVE    01
2                   3.0    2012-01-19 1900-01-01 12:47:48.237  ACTIVE    03
3                   3.0           NaT                     NaT  ACTIVE    01
4                   3.0           NaT                     NaT  ACTIVE    01

   catalog_year integration_id  max_cat_yr
0          2010    ACC101.2010        2010
1          2010    ACC102.2010        2010
2          2011    ACC301.2011        2011
3          2010     AR100.2010        2010
4          2010     AR101.2010        2010

In [122]:
df.loc[(df['catalog_year'] != df['max_cat_yr']), 'status'] = 'INACTIVE'

In [123]:
df = df.loc[:,['integration_id','course_id', 'course_name', 'default_credit_hours', 
                                           'Level', 'description', 'status', 'catalog_year',]]

In [ ]:
df = df.drop(['max_cat_yr'], axis=1)
print('df', df.shape)

In [124]:
df.head()

,integration_id,course_id,course_name,default_credit_hours,Level,description,status,catalog_year
0,ACC101.2010,ACC101,Financial Accounting,3.0,01,Students utilize the rules of debits/credits i...,ACTIVE,2010
1,ACC102.2010,ACC102,Managerial Accounting,3.0,01,Study of the principles of financial accountin...,ACTIVE,2010
2,ACC301.2011,ACC301,Small Business Accounting,3.0,03,This course will familiarize students with acc...,ACTIVE,2011
3,AR100.2010,AR100,Analytical Reasoning Foundational,3.0,01,None,ACTIVE,2010
4,AR101.2010,AR101,Analytical Reasoning Reinforcing,3.0,01,None,ACTIVE,2010

In [125]:
today = datetime.now().strftime('%Y%m%d')
fn_output = f'{today}_course_catalog.txt'
df.to_csv(fn_output, index=False)