In [1]:
import numpy as np
import pandas as pd
import os
from datetime import date, datetime
from sqlalchemy import create_engine

In [2]:
# local connection information
db_user = os.environ.get('DB_USER')
db_pass = os.environ.get('DB_PASS')
engine = create_engine(f'mssql+pyodbc://{db_user}:{db_pass}@PSC-SQLProd/Campus6?' +
                       'driver=ODBC+Driver+11+for+SQL+Server')
connection = engine.connect()

In [3]:
sections_begin_year = '2011'

In [4]:
sql_str = "SELECT * FROM EVENT WHERE " + \
          "EVENT_STATUS = 'A' " + \
          "AND EVENT_TYPE = 'CLAS' "
df_event = pd.read_sql_query(sql_str, connection)

In [5]:
dfe = df_event[['EVENT_ID', 'EVENT_LONG_NAME', 'DESCRIPTION', ]]

In [ ]:
#dfe.loc[(df['EVENT_ID'].str[-2:] == '99'),'EVENT_LONG_NAME']

In [6]:
dfe = dfe.rename(columns={'EVENT_LONG_NAME': 'course_name', 'EVENT_ID': 'course_id', 'DESCRIPTION': 'description' })

In [7]:
#dfe.loc[dfe['course_id']=='MAT102'].head()
print(dfe.shape)

(522, 3)

In [8]:
sql_str = "SELECT * FROM SECTIONS WHERE " + \
          "EVENT_SUB_TYPE NOT IN ('ADV') " + \
          f"AND ACADEMIC_YEAR >= '{sections_begin_year}' " + \
          "AND ACADEMIC_TERM NOT IN ('Fa', 'SP') "
df_sections = pd.read_sql_query(sql_str, connection)

print(df_sections.columns)

In [9]:
dfs = df_sections[['EVENT_ID', 'EVENT_SUB_TYPE', 'SECTION', 'ACADEMIC_YEAR',
                   'ACADEMIC_TERM', 'ACADEMIC_SESSION', 'CIP_CODE', 'CREDITS',
                   'REVISION_DATE', 'REVISION_TIME',
                   ]]

dfs.info()
print(dfs.shape)

In [11]:
# dfs = dfs[~(dfs['EVENT_ID'].str.contains('REG', case=False))]
print(dfs.shape)
dfs.head()

(5050, 10)

,EVENT_ID,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,CIP_CODE,CREDITS,REVISION_DATE,REVISION_TIME
0,ACC 101,LEC,01,2011,FALL,MAIN,,3.0,2013-08-19,1900-01-01 12:26:41.477
1,ACC 101,LEC,02,2011,FALL,MAIN,,3.0,2012-05-07,1900-01-01 13:59:40.743
2,ACC 101,LEC,03,2011,FALL,MAIN,None,3.0,2011-12-16,1900-01-01 17:22:31.393
3,ACC 201,LEC,01,2011,FALL,MAIN,None,3.0,2011-09-28,1900-01-01 13:25:25.420
4,ACC 301,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237

In [12]:
dfs = dfs.sort_values(['EVENT_ID', 'EVENT_SUB_TYPE', 'ACADEMIC_YEAR',
                       'ACADEMIC_TERM', 'SECTION'],
                      ascending=[True, True, True, False, True])
dfs = dfs.drop_duplicates(['EVENT_ID', 'EVENT_SUB_TYPE', 'ACADEMIC_YEAR',
                           'ACADEMIC_TERM', 'SECTION',
                           ],
                          keep='first')

In [13]:
print(dfs.shape)

(5049, 10)

In [14]:
dfcat = dfs.sort_values(['EVENT_ID', 'EVENT_SUB_TYPE', 'CREDITS',
                         'ACADEMIC_YEAR', 'ACADEMIC_TERM'],
                       ascending=[True, True, True, True, False])
dfcat = dfcat.drop_duplicates(['EVENT_ID', 'EVENT_SUB_TYPE', 'CREDITS'],
                           keep='first')

In [15]:
print(dfcat.shape)
dfcat.head()

(689, 10)

,EVENT_ID,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,CIP_CODE,CREDITS,REVISION_DATE,REVISION_TIME
367,ACC 101,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223
369,ACC 102,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083
3,ACC 201,LEC,01,2011,FALL,MAIN,None,3.0,2011-09-28,1900-01-01 13:25:25.420
4,ACC 301,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237
370,BAK 150,COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150

In [ ]:
# dfs[['EVENT_ID', 'EVENT_SUB_TYPE', 'CREDITS', 'SECTION']].groupby(['EVENT_ID', 'EVENT_SUB_TYPE', 'CREDITS']).count()

In [16]:
dfcat = dfcat.rename(columns={'EVENT_ID': 'course_id',
                              'CREDITS': 'default_credit_hours',
                              'CIP_CODE': 'course_cip_code'})

In [17]:
print(dfe.shape)
print(dfs.shape)
print(dfcat.shape)

(522, 3)
(5049, 10)
(689, 10)

In [ ]:
dfe.loc[(dfe['course_id']=='AR 100')]

In [ ]:
dfs.loc[(dfs['EVENT_ID']=='AR 100')]

In [18]:
df = pd.merge(dfe, dfcat, on=['course_id'], how='left')
print(df.shape)

(674, 12)

In [19]:
df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME
0,ACC 101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223
1,ACC 102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083
2,ACC 301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237
3,BAK 150,Foundations of Baking,"In this laboratory course, the student will be...",COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150
4,BAK 160,Foundations of Baking & Pastry Arts,In this laboratory course the student will be ...,COMB,01,2011,FALL,MAIN,,4.0,2011-12-02,1900-01-01 13:13:00.227

In [ ]:
df.loc[(df['course_id']=='AR 100')]

In [20]:
df = df[~(df['course_id'].str.contains('REG', case=False))]
df = df[~(df['course_id'].str.contains('STDY', case=False))]
df = df[~(df['course_id'].str.contains('PRV TRAN', case=False))]

In [ ]:
df.loc[:, 'Level'] = '0' + df.loc[:, 'course_id'].str[-3:-2]
df.loc[:, 'Level'] = df.loc[:, 'Level'].str.replace(' ', '')  # for MAT 98

In [21]:
crs_id = (lambda c: (str(c['course_id']).replace(' ', '') +
                     str(c['EVENT_SUB_TYPE']).lower())
          if ((c['EVENT_SUB_TYPE'] == 'LAB') | (c['EVENT_SUB_TYPE'] == 'SI'))
          else (str(c['course_id']).replace(' ', ''))
          )
df.loc[:, 'course_id'] = df.apply(crs_id, axis=1)

In [22]:
df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME
0,ACC101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223
1,ACC102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083
2,ACC301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237
3,BAK150,Foundations of Baking,"In this laboratory course, the student will be...",COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150
4,BAK160,Foundations of Baking & Pastry Arts,In this laboratory course the student will be ...,COMB,01,2011,FALL,MAIN,,4.0,2011-12-02,1900-01-01 13:13:00.227

In [23]:
df.loc[:, 'description'] = (df.loc[:, 'description'].str.replace('\n', ' ')
                                                    .str.replace('\r', ' ')
                                                    .str.replace('\"\"', "\'")
                                                    .str.replace('\"', "\'")
                            )

df.loc[:, 'status'] = 'ACTIVE'

df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,Level,status
0,ACC101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223,01,ACTIVE
1,ACC102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083,01,ACTIVE
2,ACC301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237,03,ACTIVE
3,BAK150,Foundations of Baking,"In this laboratory course, the student will be...",COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150,01,ACTIVE
4,BAK160,Foundations of Baking & Pastry Arts,In this laboratory course the student will be ...,COMB,01,2011,FALL,MAIN,,4.0,2011-12-02,1900-01-01 13:13:00.227,01,ACTIVE

In [24]:
print(df.shape)

(655, 14)

In [ ]:
df.loc[df['course_id']=='FWS395'].head()

df.loc[:, 'description'] = (df.loc[:, 'description'].str.replace('\n', ' ')
                                                    .str.replace('\r', ' ')
                                                    .str.replace('\"\"', "\'")
                                                    .str.replace('\"', "\'")
                            )

In [25]:
df['ACADEMIC_YEAR'] = (pd.to_numeric(df['ACADEMIC_YEAR'], errors='coerce')
                         .fillna(sections_begin_year).astype(np.int64))

In [26]:
df.loc[:, 'EVENT_SUB_TYPE'] = df.loc[:, 'EVENT_SUB_TYPE'].fillna('')
df.loc[:, 'ACADEMIC_YEAR'] = (df.loc[:, 'ACADEMIC_YEAR']
                                .fillna(sections_begin_year))
df.loc[:, 'ACADEMIC_TERM'] = df.loc[:, 'ACADEMIC_TERM'].fillna('FALL')

In [27]:
cat_yr = (lambda c: c['ACADEMIC_YEAR'] if (c['ACADEMIC_TERM'] == 'FALL')
          else (c['ACADEMIC_YEAR'] - 1))
df.loc[:, 'catalog_year'] = df.apply(cat_yr, axis=1)

In [ ]:
df.loc[(df['course_id']=='AR100')]

In [28]:
integ_id = (lambda c: (c['course_id'] + '.' + str(c['catalog_year']))
            if (c['EVENT_SUB_TYPE'] == '')
            else (c['course_id'] + '.' + c['EVENT_SUB_TYPE'] + '.' +
                  str(c['catalog_year'])))
df.loc[:, 'integration_id'] = df.apply(integ_id, axis=1)

In [29]:
df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,Level,status,catalog_year,integration_id
0,ACC101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223,01,ACTIVE,2010,ACC101.LEC.2010
1,ACC102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083,01,ACTIVE,2010,ACC102.LEC.2010
2,ACC301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237,03,ACTIVE,2011,ACC301.LEC.2011
3,BAK150,Foundations of Baking,"In this laboratory course, the student will be...",COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150,01,ACTIVE,2010,BAK150.COMB.2010
4,BAK160,Foundations of Baking & Pastry Arts,In this laboratory course the student will be ...,COMB,01,2011,FALL,MAIN,,4.0,2011-12-02,1900-01-01 13:13:00.227,01,ACTIVE,2011,BAK160.COMB.2011

In [ ]:
df.loc[(df['course_id']=='AR100')]

df.loc[:, 'integration_id'] = (df.loc[:, 'course_id'] + '.' +
                               df.loc[:, 'EVENT_SUB_TYPE'] + '.' +
                               df.loc[:, 'catalog_year'].apply(str))

In [30]:
df.loc[:, 'default_credit_hours'] = df.loc[:, 'default_credit_hours'].fillna(3)

In [31]:
df.head()

,course_id,course_name,description,EVENT_SUB_TYPE,SECTION,ACADEMIC_YEAR,ACADEMIC_TERM,ACADEMIC_SESSION,course_cip_code,default_credit_hours,REVISION_DATE,REVISION_TIME,Level,status,catalog_year,integration_id
0,ACC101,Financial Accounting,Students utilize the rules of debits/credits i...,LEC,01,2011,SPRING,MAIN,,3.0,2011-06-21,1900-01-01 16:19:39.223,01,ACTIVE,2010,ACC101.LEC.2010
1,ACC102,Managerial Accounting,Study of the principles of financial accountin...,LEC,01,2011,SPRING,MAIN,,3.0,2013-01-14,1900-01-01 14:13:36.083,01,ACTIVE,2010,ACC102.LEC.2010
2,ACC301,Small Business Accounting,This course will familiarize students with acc...,LEC,01,2011,FALL,MAIN,None,3.0,2012-01-19,1900-01-01 12:47:48.237,03,ACTIVE,2011,ACC301.LEC.2011
3,BAK150,Foundations of Baking,"In this laboratory course, the student will be...",COMB,01,2011,SPRING,MAIN,,4.0,2011-04-20,1900-01-01 07:59:13.150,01,ACTIVE,2010,BAK150.COMB.2010
4,BAK160,Foundations of Baking & Pastry Arts,In this laboratory course the student will be ...,COMB,01,2011,FALL,MAIN,,4.0,2011-12-02,1900-01-01 13:13:00.227,01,ACTIVE,2011,BAK160.COMB.2011

In [ ]:
df.loc[df['course_id']=='FWS395'].head()

In [32]:
print(df.shape)

(655, 16)

df = df.loc[(df['REVISION_DATE'].notna() & df['REVISION_TIME'].notna()),['integration_id','course_id', 'course_name', 'course_cip_code', 'default_credit_hours', 
                                           'Level', 'description', 'status', 'catalog_year', 'REVISION_DATE', 'REVISION_TIME',]]
df.head()

In [33]:
df = (df.sort_values(['integration_id', 'default_credit_hours'],
                     ascending=[True, False])
        .drop_duplicates(['integration_id'], keep='first')
     )

In [34]:
print(df.shape)

(652, 16)

def revision(df):
    return pd.datetime.combine(df['REVISION_DATE'].date(), df['REVISION_TIME'].time())
df['revision'] = df.apply(revision, axis=1)

In [ ]:
df.head()

In [ ]:
df.loc[df['course_id']=='FWS470'].head()

In [ ]:
print(df.shape)

In [ ]:
df.columns

In [ ]:
max_cat_yr = df.groupby(['course_id'])['catalog_year'].max()
print(type(max_cat_yr))
print(max_cat_yr.shape)
print(max_cat_yr.head())

In [ ]:
pd.DataFrame(mry)

In [35]:
# set earlier catalog year courses to 'INACTIVE'
max_cat_yr = df.groupby(['course_id'])['catalog_year'].max().reset_index()
max_cat_yr = max_cat_yr.rename(columns={'catalog_year': 'max_cat_yr'})

df = pd.merge(df, pd.DataFrame(max_cat_yr), on=['course_id'], how='left')
print(df.shape)
print(df.head())

(652, 17)
  course_id                        course_name  \
0    ACC101               Financial Accounting
1    ACC102              Managerial Accounting
2    ACC301          Small Business Accounting
3     AR100  Analytical Reasoning Foundational
4     AR101   Analytical Reasoning Reinforcing

                                         description EVENT_SUB_TYPE SECTION  \
0  Students utilize the rules of debits/credits i...            LEC      01
1  Study of the principles of financial accountin...            LEC      01
2  This course will familiarize students with acc...            LEC      01
3                                               None                    NaN
4                                               None                    NaN

   ACADEMIC_YEAR ACADEMIC_TERM ACADEMIC_SESSION course_cip_code  \
0           2011        SPRING             MAIN
1           2011        SPRING             MAIN
2           2011          FALL             MAIN            None
3           2011          FALL              NaN             NaN
4           2011          FALL              NaN             NaN

   default_credit_hours REVISION_DATE           REVISION_TIME Level  status  \
0                   3.0    2011-06-21 1900-01-01 16:19:39.223    01  ACTIVE
1                   3.0    2013-01-14 1900-01-01 14:13:36.083    01  ACTIVE
2                   3.0    2012-01-19 1900-01-01 12:47:48.237    03  ACTIVE
3                   3.0           NaT                     NaT    01  ACTIVE
4                   3.0           NaT                     NaT    01  ACTIVE

   catalog_year   integration_id  max_cat_yr
0          2010  ACC101.LEC.2010        2010
1          2010  ACC102.LEC.2010        2010
2          2011  ACC301.LEC.2011        2011
3          2011       AR100.2011        2011
4          2011       AR101.2011        2011

In [36]:
df.loc[(df['catalog_year'] != df['max_cat_yr']), 'status'] = 'INACTIVE'

In [37]:
df = df.loc[:, ['integration_id', 'course_id', 'course_name',
                'default_credit_hours', 'Level', 'description', 'status',
                'catalog_year', ]]

In [38]:
df = df.sort_values(['integration_id'])
#df.drop_duplicates(['integration_id'], keep='last', inplace=True)

df = df.drop(['max_cat_yr'], axis=1)
print('df', df.shape)

In [39]:
df.head()

,integration_id,course_id,course_name,default_credit_hours,Level,description,status,catalog_year
0,ACC101.LEC.2010,ACC101,Financial Accounting,3.0,01,Students utilize the rules of debits/credits i...,ACTIVE,2010
1,ACC102.LEC.2010,ACC102,Managerial Accounting,3.0,01,Study of the principles of financial accountin...,ACTIVE,2010
2,ACC301.LEC.2011,ACC301,Small Business Accounting,3.0,03,This course will familiarize students with acc...,ACTIVE,2011
3,AR100.2011,AR100,Analytical Reasoning Foundational,3.0,01,None,ACTIVE,2011
4,AR101.2011,AR101,Analytical Reasoning Reinforcing,3.0,01,None,ACTIVE,2011

In [40]:
today = datetime.now().strftime('%Y%m%d')
fn_output = f'{today}_course_catalog.txt'
df.to_csv(fn_output, index=False)